.route-section {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
}
.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    position: relative;
    background-color: #f2f5f7;
    transition: background-color .5s ease;
    overflow: hidden;
    color: #282828;
}
.horizon-line {
    position: absolute;
    inset: 0;
    overflow: hidden;
}
.horizon-line::after {
    transform: scaleX(2) rotate(-4deg);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #e1e8ec;
    transition: border-radius .5s ease-in-out,transform .5s ease-in-out,top .5s ease-in-out,margin-top .5s ease-in-out,background-color .5s ease;
    top: 362px;
    display: block;
}
.page-content {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

/*footer*/
.application-footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 3rem;
}
.privacy:hover,
.cookie:hover {
    text-decoration: underline;
}
.button-base {
    margin: 5px;
    padding: 0.4rem;
    font-size: inherit;
    line-height: inherit;
    color: #006cb7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    border: 0;
    outline: 0;
    background: transparent;
    font-family: Typewell,sans-serif;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(0,108,183,0.4);
    transition-property: box-shadow;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}
.button-base:focus {
    outline: none;
}
